/* 去除默认样式 */
*{
	margin:0px;
	padding: 0px;
}
/* 设置为内减模式 */
body{
    box-sizing:boder-box;
}
/* 版心样式 */
.wapper{
    width: 1200px;
    margin: 0 auto;
}
/* 头部标签样式 */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    height: 50px;
}

/* 个人博客样式 */
.header .blog{
    float: left;
    color: white;
    margin-right: 300px;
}
/*设置浮动,把导航栏排在一排*/
.header li{
    float: left;
    list-style-type: none;
}
.header li div{
    width: 150px;
    margin-right: 100px;
}
/* 去除下划线,改变颜色 */
.header li a{
    text-decoration: none;
    color: white;
    line-height: 50px;
}

/* 过渡图 */
.guodutu{
    height: 266px;
    background-size:100% 100%;
    background-repeat: no-repeat;
    margin-top: 50px;
}
/* 过渡图中间文字格式 */
.guodutu div{
    text-align: center;
    font-size: 60px;
    line-height: 266px;
}
/* 头像格式 */
.ge_ren_jie_shao .img img{
    height: 200px;
}
.ge_ren_jie_shao div{
    float: left;
    margin-right: 80px;
}

/* 爱好图片格式 */
.xingquaihao .img img{
    height: 200px;
    width: 200px;
}
.xingquaihao div{
    float: right;
}

/* 生肖图片 */
.shengxiao .img img{
    height: 200px;
}
.shengxiao div{
    float: left;
    margin-right: 80px;
}

/* 底部 */
.foot{
    text-align: center;
    margin-top: 20px;
    background-color: black;
}

/* 选中当前页 */
.active {
    background-color: #f00;
    color: #fff;
    font-weight: bold;
}