/* 去除默认样式 */
* {
    margin: 0px;
    padding: 0px;
}

/* 设置为内减模式 */
body {
    box-sizing: boder-box;
}

/* 版心样式 */
.wapper {
    width: 1200px;
    margin: 0 auto;
}

/* 头部标签样式 */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    height: 50px;
}

/* 个人博客样式 */
.header .blog {
    float: left;
    color: white;
    margin-right: 300px;
}

/*设置浮动,把导航栏排在一排*/
.header li {
    float: left;
    list-style-type: none;
}

.header li div {
    width: 150px;
    margin-right: 100px;
}

/* 去除下划线,改变颜色 */
.header li a {
    text-decoration: none;
    color: white;
    line-height: 50px;
}

/* 选中当前页 */
.active {
    background-color: #f00;
    color: #fff;
    font-weight: bold;
}

/* 标题样式 */
.tit {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: 4px;
    width: 200px;
    height: 80px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    line-height: 80px;
}

/* 描述 */
.des {
    margin-top: 20px;
    border: 1px solid black;
    outline-style: solid;
    outline-color: blue;
    background-color: gray;
    outline-width: 4px;
    padding-top: 30px;
    padding-bottom: 30px;
}

img {
    width: 300px;
    height: 300px;
}

/* 底部 */
.foot{
    text-align: center;
    margin-top: 20px;
    background-color: black;
}